.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    border: 0;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
    padding-bottom: 0;
    background-image: url(/img/bgimg.gif);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    height: 200px;
    background-color: transparent;
    background-size: cover;
  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  .container{
    padding: 0;
  }