* {
  /* font-family: Helvetica, sans-serif; */
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

@font-face {
  font-family: Marker;
  src: url(../fonts/PermanentMarker-Regular.ttf);
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0;
  background: #F5E6CB;
  background: linear-gradient(90deg, #F5E6CB 0%, #F5E6CB 32%, #F5E6CB 100%);
  padding: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  background-size: cover;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #F5E6CB;
  padding: 25px;
  clear: both;
  position: relative;
}

.container {
  padding: 0;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #BDAE95;
  color: black;
}


.panel-primary>.panel-heading {
  background-color: #A8AABC;
  border-color: rgb(223, 222, 220);
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: Marker;

}

.panel-primary {
  border-color: rgb(223, 222, 220);
}

#search-input {
  height: 40px;
}

#search-button {
  height: 40px;
}

body {
  background-color: #E3E6FF;
  min-height: 100%;
}


.containerimgtext {
  position: relative;
}

.top-left {
  position: absolute;
  top: 18px;
  left: 36px;
  font-size: 16;
  color: white;
  font-weight: 600;
}

.panel-footer {
  font-family: Marker;
}